
.app {
  background-color: #343434;

  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}


[class^="tile"] {
  box-sizing: border-box;
  background-color: #fff;
  width: 10px;
  height: 10px;
}

.tile--wall {
  background-color: #000;
}

.tile--start {
  box-sizing: border-box;
  background-color: #347734;
  width: 10px;
  height: 10px;
}

.tile--end {
  box-sizing: border-box;
  background-color: #343477;
  width: 10px;
  height: 10px;
}

.path {
  background-color: #347734 !important;
}

.weight--0 {}

@for $i from 1 through 100 {
  .weight--#{$i} {
    background-color: mix(#777734, #773477, $i); 
  }
}